/********************
YOUR STYLES
*******************/

/* Layout */
/* DO NOT REMOVE */
* { box-sizing: border-box; }

section
{
    /* Fallback: Floated in No JS */
    float: left;
    padding: 1em;
}

/* clearfix */
section:after 
{
    content: '';
    display: block;
    clear: both;
}

/* Can edit here */

/************/
/*  LAYOUT  */
/************/

.container
{
    display: flex;
}

.item
{
    flex-grow: 1;
}

div
{
    float: left;
}

.left
{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 55%;
    overflow: hidden;
}

.right
{
    position: absolute;
    top: 0;
    left: 56%;
    bottom: 0;
    right: 0;
    overflow: auto;
    padding-right: 10px;
}

.masonry
{
    display: inline-block;
    position: absolute;
    margin: 0 auto;
}

/* Masonry Styling */
section
{
    background: rgba(183, 182, 182, 0.75);
    border: 1px solid black;
    /* vertical space between */
    margin-bottom: 10px;
    /* MUST MATCH PLUGIN */
    width: 293px;
}

/******************/
/*  CLOSE BUTTON  */
/******************/
#resume h2, #contact h2, .close
{
    display: inline-block;
}

.close
{
    float: right;
    height: 32px;
    background: none;
    border: none;
    font-size: 2em;
}

.open
{
    background: teal;
}

.closed
{
    height: 63px;
    overflow: hidden;
}

/**************/
/* TYPOGRAPHY */
/**************/
@import url(https://fonts.googleapis.com/css?family=IM+Fell+Double+Pica);
@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:600,300italic);

/* Add font: Josefin */
p, li
{
    font-family: 'Josefin Slab', serif;
    font-weight: 400;
}

h1, a, h2, h3, h4, button
{
    font-family: 'Josefin Slab', serif;
    font-weight: 700;
}

/*******/

h1
{
    font-size: 3em;
    text-align: center;
    text-transform: uppercase;
}

h2
{
    font-size: 2em;
    margin: 0;
    margin-bottom: 15px;
}

h3
{
    font-size: 20px;
}

h4
{
    margin: 0;
    margin-bottom: 10px;
}

a
{
    font-size: 20px;
}

p
{
    margin: 0;
    margin-bottom: 10px;
}

ul
{
    margin: 0;
    margin-bottom: 10px;
}

.work h4:nth-child(1), .school h4:nth-child(1)
{
    font-size: 1em;
}

/********************
MEDIA QUERIES
*******************/
/* Desktop */

@media (min-width: 1200px)
{
    
}


/* Tablet */

@media (min-width: 768px)
{
    
}


/* Mobile */

@media (min-width: 480px)
{

}