/********************
YOUR STYLES
*******************/

/* Layout */
/* DO NOT REMOVE */
* { box-sizing: border-box; }

section
{
    /* Fallback: Floated in No JS */
    float: left;
    padding: 1em;
}

/* clearfix */
section:after 
{
    content: '';
    display: block;
    clear: both;
}

/* Can edit here */

div
{
    float: left;
}

.left
{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 55%;
    overflow: hidden;
}

img
{
    width: 100%;
}

.right
{
    position: absolute;
    top: 0;
    left: 56%;
    bottom: 0;
    right: 0;
    overflow: auto;
    padding-right: 10px;
}

.masonry
{
    display: inline-block;
    position: absolute;
    margin: 0 auto;
}

/* Masonry Styling */
section
{
    background: rgba(183, 182, 182, 0.75);
    border: 1px solid black;
    /* vertical space between */
    margin-bottom: 10px;
    /* MUST MATCH PLUGIN */
    width: 293px;
}

/******************/
/*  CLOSE BUTTON  */
/******************/
#resume h2, #contact h2, .close
{
    display: inline;
}

.close
{
    float: right;
    height: 32px;
}

.open
{
    background: teal;
}

.closed
{
    background: tomato;
    height: 66px;
    overflow: hidden;
}

/**************/
/* TYPOGRAPHY */
/**************/
@import url(https://fonts.googleapis.com/css?family=IM+Fell+Double+Pica);
@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:600,300italic);

h1
{
    font-size: 3em;
    text-align: center;
    text-transform: uppercase;
}

h2
{
    font-size: 2em;
    margin: 0;
}

h3, a
{
    font-size: 1.5em;
}

/* Josefin */
p, li
{
    font-family: 'Josefin Slab', serif;
    font-weight: 400;
}

h1, a, h2, h3, h4
{
    font-family: 'Josefin Slab', serif;
    font-weight: 700;
}

/********************
MEDIA QUERIES
*******************/
/* Desktop */

@media (min-width: 1200px) {}


/* Tablet */

@media (min-width: 768px) {}


/* Mobile */

@media (min-width: 480px) {}