/********************
YOUR STYLES
*******************/

/* Layout */
/* DO NOT REMOVE */
* { box-sizing: border-box; }

section
{
    /* Fallback: Floated in No JS */
    float: left;
    padding: 1em;
}

/* clearfix */
section:after 
{
    content: '';
    display: block;
    clear: both;
}

/* Can edit here */

/************/
/*  LAYOUT  */
/************/

.container
{
    display: flex;
    font-weight: wrap;
}

.item
{
    flex-grow: 1;
}

div
{
    float: left;
}

.left
{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 55%;
    overflow: hidden;
}

.right
{
    position: absolute;
    top: 0;
    left: 56%;
    bottom: 0;
    right: 0;
    overflow: auto;
    padding-right: 10px;
}

.masonry
{
    display: inline-block;
    position: absolute;
    margin: 0 auto;
}

/* Masonry Styling */
section
{
    background: rgba(183, 182, 182, 0.75);
    border: 1px solid black;
    /* vertical space between */
    margin-bottom: 10px;
    /* MUST MATCH PLUGIN */
    width: 293px;
}

/******************/
/*  CLOSE BUTTON  */
/******************/
#resume h2, #contact h2, .close
{
    display: inline-block;
}

.close
{
    float: right;
    height: 32px;
    background: none;
    border: none;
    font-size: 2em;
}

.open
{
    
}

.closed
{
    height: 63px;
    overflow: hidden;
}

/**************/
/* TYPOGRAPHY */
/**************/
@import url(https://fonts.googleapis.com/css?family=IM+Fell+Double+Pica);
@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:600,300italic);

/* Add font: Josefin */
p, li
{
    font-family: 'Josefin Slab', serif;
    font-weight: 400;
}

h1, a, h2, h3, h4, button, ul
{
    font-family: 'Josefin Slab', serif;
    font-weight: 700;
}

/*******/

h1
{
    font-size: 3em;
    text-align: center;
    text-transform: uppercase;
}

h2
{
    font-size: 2em;
    margin: 0;
    margin-bottom: 15px;
}

h3
{
    font-size: 20px;
}

h4
{
    margin: 0;
    margin-bottom: 10px;
    font-size: 1.1em;
}

a
{
    font-size: 20px;
}

p
{
    margin: 0;
    margin-bottom: 10px;
}

ul
{
    margin: 0;
    margin-bottom: 10px;
    font-size: 1.1em;
}

#resume p, #resume h4
{
    padding-left: 31px;
    font-size: 1em;
    margin-bottom: 5px;
}

#resume ul
{
    padding: 0;
}

#resume .work
{
    margin-top: 20px;
}

#resume li
{
    margin-bottom: 5px;
    margin-top: 15px;
    font-weight: 700;
}

/********************
MEDIA QUERIES
*******************/
/* Desktop */

@media (min-width: 1200px)
{
    
}


/* Tablet */

@media (max-width: 768px)
{
    
}


/* Mobile */

@media (max-width: 480px)
{
    .left
    {
        width: 100%;
        position: fixed;
    }
    
    .right
    {
        position: relative;
        display: inline;
        width: 95%;
        float: left;
        left: 5%;
        padding: 0;
    }
    
    h1, a, h2, h3, h4, button, ul, p, li
    {
        color: white;
    }
}